/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*

body { background-color: red; color: #000; font-family: 'Roboto', sans-serif, Arial, Helvetica; font-weight: 400; }
a:hover { color: #513fdc; text-decoration: none; }


img { display: inline-block; height: auto; max-width: 100%; }
h1, h2, h3, h4, h5, h6 { color: #383874; font-family: 'Poppins', sans-serif; font-weight: 500; }
h1 { font-size: 48px; }
p, li { color: #383874; font-family: 'Poppins', sans-serif; font-size: 16px; font-weight: 300; overflow-wrap: break-word; word-wrap: break-word; } */

/* Color Scheme Variables */

:root {
  --color-primary: #513fdc;
  --color-secondary: #383874;
  --color-pink: #ff708b;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*  Login Page Error Message*/

.err_msg,
.card_validation {
  color: red;
  font-size: 13px;
  padding-left: 4px;
}
/* Payment Details Credit Card Img */
.credit_card_div {
  display: flex;

  align-items: center;
  position: relative;
}

.card_img {
  position: absolute;
  right: 10px;
}

/* ========= social icons =========== */
.social-icons {
  cursor: pointer;
  margin-right: 20px;
}

.social-icons:hover {
  color: var(--color-primary);
}

@layer base {
  :root {
    --background: 217 53% 87%;
    --foreground: 215, 13%, 40%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 216, 95%, 67%;
    --primary-background: 0 0% 100%;
    --primary-foreground: 227, 59%, 48%;
    --secondary: 0, 0%, 37%;
    --ternary: 240, 35%, 34%;
    --dark: 0, 0%, 0%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0, 2%, 68%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214, 33%, 82%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --green: 133, 100%, 36%;
    --btn-primary: 247, 100%, 73%;
  }
  .dark {
    --background: 240 33% 15%;
    --foreground: 0 0% 100%;
    --card: 240 35% 34%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 216, 95%, 67%;
    --primary-background: 240 35% 34%;
    --primary-foreground: 227, 59%, 48%;
    --secondary: 0, 0%, 37%;
    --ternary: 0, 0%, 100%;
    --dark: 0, 0%, 0%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0, 2%, 68%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --green: 133, 100%, 36%;
    --btn-primary: 247, 100%, 73%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
